html,
body,
:global(#root) {
  height: 100%;
  margin: 0px;
}

body {
  background-color: black;
}

.app {
  font-family: "Gorga Grotesque", sans-serif;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;

  height: 100%;
  max-height: 100%;

  user-select: none;

  position: relative;

  > :first-child {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
  }

  .filter {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 10px;
    color: grey;
    background-color: black;
  }

  > :last-child {
    flex: 1 0 auto;
  }
}

.card {
  flex: 0 1 auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 6px 10px;
  cursor: pointer;
  max-width: 80%;

  .title {
    font-size: 48px;
    padding: 0 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .info {
    padding-top: 4px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@mixin not-ready {
  h1 {
    color: rgb(90, 90, 90);
  }

  >.cardContainer {
    >* {
      flex-basis: 33%;
    }
  }

  .card {
    background-color: rgb(51, 51, 51);

    .title {
      font-size: 18px;
      padding: unset;
      color: rgb(90, 90, 90);
    }

    .info {
      font-size: 12px;
      display: none;
    }
  }
}

.cardContainer {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 18px;

  max-height: 100%;

  overflow: hidden;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  >* {
    flex: 0 0 33%;

    display: flex;
    justify-content: center;
    overflow: hidden;
  }
}

.highlight {
  background-color: yellow;
}

.columns {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  gap: 10px;

  >* {
    -outline: 1px dashed red;
    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    gap: 10px;
    overflow: hidden;
  }

  > :nth-child(1) {
    flex: 0 0 20%;

    @include not-ready()
  }

  > :nth-child(2) {
    flex: 0 1 80%;

    >.cardContainer {
      > :first-child {
        flex-basis: 100%;

        .card {
          .title {
            font-size: 164px;
          }
          .info {
            font-size: 24px;
          }
        }
      }
    }
  }
}